<%@ Master Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="test.master.cs" Inherits="WebApplication1.test" %>


<asp:Content ID="Content1" ContentPlaceHolderID="Content1" runat="server">

    <link rel="stylesheet" href="BrightSide.css" type="text/css" />
<div id="wrap">
  

 
    <div id="sidebar" >
      <h1>Quick Links</h1>
      <ul class="sidemenu">
<li><a href="Service.aspx">Add BGC Administrator</a></li>
        <li><a href="ViewBGC.aspx">View BGC Administrator</a></li>
        <li><a href="CreateSchedule.aspx">Create BGC Schedule</a></li>
          <li><a href="ViewBGCSchedule.aspx">View BGC Schedule</a></li>
          <li><a href="#">Add Employees Details</a></li>
          <li><a href="#">Display Employees Details</a></li>
          <li><a href="#">Edit CTC and designation</a></li>
      </ul>
      
    </div>
    <div id="main"> 
        <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
  </div>

    </div>




           
</asp:Content>
      


